{% extends "layout.html" %} {% block body %}
<section id="home">
  <div class="main-container">
    <div class="container">
      <h2>Find Animal</h2>
      <form
        id="image-form"
        method="POST"
        action="/result"
        enctype="multipart/form-data"
      >
        <div>
          <label for="image-upload" class="label">Select an image:</label>
          <input
            type="file"
            id="image-upload"
            accept="image/*"
            class="input"
            name="image"
          />
        </div>
        <div>
          <button
            type="button"
            id="detect-button"
            class="btn"
            onclick="predict()"
          >
            Predict
          </button>
        </div>
      </form>
      <div id="result" class="result"></div>
      <div id="predict-loader"><p>Predicting ...</p></div>
    </div>
    <div class="container container1">
      <h2 class="heading1">Analysis</h2>
      <div class="inner-container">
        <div class="uploaded-image">
          <img
            src="{{url_for('static', filename='images/no image.png')}}"
            id="uploaded-image"
          />
        </div>
        <div class="progress">
          <svg
            class="progress-circle"
            width="200px"
            height="200px"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle
              class="progress-circle-back"
              cx="80"
              cy="80"
              r="74"
            ></circle>
            <circle
              class="progress-circle-prog"
              cx="80"
              cy="80"
              r="74"
            ></circle>
          </svg>
          <div class="progress-text" data-progress="0">0%</div>
          <div class="progress-title">Accuracy</div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="Conservation-Section">
  <div class="container2">
    <h1>Conservation Status</h1>
    <form action="/conservation" method="POST" id="conservation-form">
      <div class="inputBox">
        <input
          type="number"
          id="height"
          name="height"
          step="0.01"
          placeholder="Height (cm)"
          required
        />
        <input
          type="number"
          id="weight"
          name="weight"
          step="0.01"
          placeholder="Weight (Kgs)"
          required
        />
      </div>
      <div class="inputBox">
        <input
          type="number"
          id="lifespan"
          name="lifespan"
          placeholder="Lifespan (years)"
          required
        />
        <input
          type="number"
          id="average-speed"
          name="averageSpeed"
          step="0.01"
          placeholder="Average Speed (km/h)"
          required
        />
      </div>
      <div class="inputBox">
        <input
          type="number"
          id="gestation-period"
          name="gestationPeriod"
          placeholder="Gestation Period (days)"
          required
        />
        <div class="dropdown-checkboxes">
          <button type="button">Select Diet</button>
          <div class="dropdown-checkboxes-content">
            <label>
              <input
                type="checkbox"
                id="diet-carnivore"
                name="diet"
                value="Carnivore"
              />
              Carnivore
            </label>
            <label>
              <input
                type="checkbox"
                id="diet-filter-feeder"
                name="diet"
                value="Filter Feeder"
              />
              Filter Feeder
            </label>
            <label>
              <input
                type="checkbox"
                id="diet-herbivore"
                name="diet"
                value="Herbivore"
              />
              Herbivore
            </label>
            <label>
              <input
                type="checkbox"
                id="diet-insectivore"
                name="diet"
                value="Insectivore"
              />
              Insectivore
            </label>
            <label>
              <input
                type="checkbox"
                id="diet-insects"
                name="diet"
                value="Insects"
              />
              Insects
            </label>
            <label>
              <input
                type="checkbox"
                id="diet-nectar"
                name="diet"
                value="Nectar"
              />
              Nectar
            </label>
            
            <label>
              <input
                type="checkbox"
                id="diet-omnivore"
                name="diet"
                value="Omnivore"
              />
              Omnivore
            </label>
            <label>
              <input
                type="checkbox"
                id="diet-piscivore"
                name="diet"
                value="Piscivore"
              />
              Piscivore
            </label>
            <label>
              <input
                type="checkbox"
                id="diet-scavenger"
                name="diet"
                value="Scavenger"
              />
              Scavenger
            </label>
          </div>
        </div>
      </div>
      <button class="btn" type="button" onclick="Conservation()">Check Status</button>
      <div id="conservation-result" class="result"></div>
      <div id="conservation-loader"><p>Checking ...</p></div>
    </form>
  </div>
</section>

{% endblock %}
